.form-control.ng-dirty.ng-invalid{
    border-color: red;
    box-shadow: inset  1px 1px red;
}
.form-control.ng-dirty.ng-valid{
    border-color: green;
    box-shadow: inset  1px 1px green;
}
.mdset{
    border-top:2px solid grey;
    border-bottom:2px solid grey;
    padding: 10px;
}
.title{
    font-size:2em;
    text-align:center;
}