<p class="title">Search your weapon!</p>
<div layout="column" ng-cloak>  
    <md-content class="md-padding" layout="row" layout-wrap layout-align="center center">
    
        <md-input-container class="md-block">
            <label>Insert weapon's name</label>
            <input id="vsearch" class="form-control" name="vsearch" type="text" ng-model="vsearch"  />
        </md-input-container>
             
        <div layout="row">
            <md-button class="md-primary md-raised" >Search</md-button>
            <label><h4> or </h4></label>
            <md-button class="md-secondary md-raised" ng-click="fsearch()">Get all the weapons !</md-button>
        </div>
  
    </md-content>
</div>

<div layout-padding class="md-whiteframe-1dp oggetto" ng-repeat="weapon in weapons">
<h4 ng-bind="weapon.name.toUpperCase()"></h4>
<p ng-bind="weapon.description"></p>
<img class="oggetto" ng-src="{{weapon.image}}" alt="{{weapon.name}}">
<p ng-bind="weapon.availability"></p>
</div> 



