
<p class="title">Insert your weapon</p>

<div layout="column" ng-cloak class="container">
  <md-content class="md-padding" layout="row" layout-wrap layout-align="center center">
  
    <form novalidate name="inputForm" class="mdset simple-form" ng-submit="send(weapon)" autocomplete="off">
      <md-input-container class="md-block">
        <label>Name</label>
        <input id="name" class="form-control" name="name" ng-model="weapon.name" required/>
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Description</label>
        <input id="description" class="form-control" name="description" type="text" ng-model="weapon.description" required/>
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Image URL</label>
        <input id="image" class="form-control" name="image" type="text" ng-model="weapon.image" required/>
      </md-input-container>
      
      <md-input-container class="md-block">
        <label>Availability</label>
        <input id="availability" class="form-control" name="availability" type="text" ng-model="weapon.availability"  ng-pattern="/^[0-9]{1,100}$/" required/>
        <md-tooltip>You have to insert a number!</md-tooltip>
      </md-input-container>
     
     <md-button class="md-raised md-primary" ng-disabled="inputForm.$invalid">Send</md-button>
     
    </form>
  </md-content>
</div>
